* {
	box-sizing: border-box;
}
body {
	font-family: Arial, tahoma, sans-serif;
}
.container {
	width: 600px;
	margin: 40px auto;
	background-color: #eee;
	padding: 20px;
}
.container input {
	border: none;
	padding: 15px;
	margin-bottom: 15px;
	width: 100%;
	font-size: 20px;
}
.container input:focus {
	outline: none;
}
.container .buttons {
	display: flex;
	justify-content: space-between;
}
.container .buttons span {
	background-color: #009688;
	text-align: center;
	color: white;
	padding: 6px 10px;
	border-radius: 4px;
	cursor: pointer;
}
.container .results {
	background-color: #fff;
	padding: 20px;
	margin-top: 15px;
	border: 2px dashed #eee;
	text-align: center;
}
.container .results span  span {
	font-weight: bold;
	color: #009688;
}
.container .results span .Keys {
	display: block;
}